<html>
    <head>
        <title> home page </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       <style text="text/css">
        .s{
          border: 0; background: none; text-align: center;
          border: 2px solid blue;padding: 10px 40px; outline: none;color: white;background-color: blue;
          border-radius: 24px; transition: 0.25s; cursor: pointer;display: inline-flex
        }
        .s:hover{
          background: rgb(48, 177, 194);color: darkblue
        }
        .d {
          
          
          position: relative;
         -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
         -webkit-animation-duration: 5s;  /* Safari 4.0 - 8.0 */  
         -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
          animation-name: example;
          animation-duration: 5s;  
          animation-fill-mode: forwards;
        }
        @-webkit-keyframes example {
             from {top: 0px;}
             to {top: 200px; }
        }

        @keyframes example {
             from {top: 0px;}
             to {top: 200px; }
        }
      </style> 
      </head>
    <body style="background-image:url('/images/Krify Wallpaper 2.jpg')">
        <nav class="navbar navbar-expand-lg" style="background-color:powderblue">
            
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/admin/admin_page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/employ_details">Employ Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/visitor_details">Visitor Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/add_employ">add employ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/remove_employ">remove employ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/employ_timing">Employ Timing</a>
                </li>
              </ul>
              
            </div>
            <a href="/admin/admin_login_form" class="s" class="button"> sign out </a>
          </nav>
          <div style="text-align: center; color:white;margin-top: 200px;" class="d">
            
            <h3>KRIFY SOFTWARE TECHNOLOGIES</h3>
            <p>Kakinada</p>
          </div>
    </body>
</html>