<!DOCTYPE html>
<html>
<head>
	<title>admin form</title>
	
	       <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<style type="text/css">
	
		 body{
		 	   margin: 0; padding: 0; font-family: sans-serif; 
		 }
		 .box{
		 	width: 400px; padding: 40px; position: absolute;top: 50%; left: 50%; 
		 	transform: translate(-50%,-50%);background-color: skyblue;
		 	text-align: center;border-radius: 40px
		 }
		 .box h1{
		 	color: red; text-transform: uppercase; font-weight: 500;
		 }
		 .box input[type = "text"],.box input[type = "password"]{
		 	border: 0px; background: none; display: block; margin: 20px auto; text-align: center;
		 	border: 2px solid blue;padding: 14px 10px; width: 200px; outline: none;color: white;
		 	border-radius: 24px; transition: 0.25s;
		 }
		 .box input[type = "text"]:focus,.box input[type = "password"]:focus{
		 	width: 280px; border-color: rgb(20, 203, 228);
		 }
		 .s{
		 	border: 0; background: none; text-align: center;
		 	border: 2px solid blue;padding: 14px 40px; outline: none;color: white;background-color: blue;
		 	border-radius: 24px; transition: 0.25s; cursor: pointer;display: inline-flex;font-size: 20px
		 }
		 .s:hover{
		 	background: rgb(48, 177, 194)
		 }
		 .text-danger{
			 color: red;
		 }
		
	</style>

</head>
<body>
	
	<form class="box" action="/admin/admin_login_form" method="post" >
		<h1> login</h1>

		<% if(error){ %>

			<span class="text-danger">*Incorrect password or username</span>
		<%} %>
		
		<input type="text" name="adminname" placeholder="adminname" required id="1">
		<input type="password" name="password" placeholder="password" required id="2">
		<button class="s" onclick="but()"> login </button>
	</form>

</body>
</html>